#messageDetailModal {
    color: #ffffff; 
}

#messageDetailModal .modal-content {
    background-color: #0d0d59; 
}

#messageDetailModal .modal-header {
    border-bottom-color: #800080;
    display: flex;
    justify-content: space-between;
}

#messageDetailModal .modal-title {
    color: #ffffff;
    margin-right: auto;
}

#messageDetailModal .message-date {
    color: #ffffff;
    margin-left: auto;
}

#messageDetailModal .modal-body {
    color: #ffffff;
}

#messageDetailModal .modal-footer {
    border-top-color: #0d0d59;
}

#messageDetailModal .btn-danger {
    background-color: #780909;
    border-color: #ffffff;
}